<div class="main post-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
      <%= form_with model: @post, url: post_path, local: true do |f| %>
        <div class="form">
          <div class="form-body">
            <% @post.errors.full_messages.each do |message| %>
              <div class="form-error">
                <%= message %>
              </div>
            <% end %>
            <%= f.text_area :content %>
            <%= f.submit "保存" %>
          </div>
        </div>
      <% end %>
  </div>
</div>
